.Pokedex-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Pokedex {
	text-align: center;
}

.Pokedex h2 {
	color: white;
	font-weight: 400;
}

.Pokedex h4 {
	color: white;
	font-weight: 400;
}
