.Random {
	margin: auto;
	width: 50%;
}

.Random h2,
p,
form {
	text-align: center;
	color: white;
	font-weight: 400;
}

.Random button {
	margin-top: 10px;
}

.Random button:hover {
	cursor: pointer;
}
